@import url('/bl-kernel/fonts/Vazir/Vazir.css');


html {
	height: 100%;
	font-size: 0.9rem;
	background: #121212;
	direction: rtl;
}

body {
	background: #121212;
	color: #777777;
	text-align:right;
	font-family:Vazir,Tahoma,Geneva,Verdana,sans-serif;
}

/* Prevent events in iframes */
/* iframe{
	pointer-events: none;
} */

/*
	ICONS
*/
.fa {
	padding-left: 2px;
	line-height: inherit;
}

/*
	SIDEBAR
*/

div.sidebar .nav-item a {
	padding-right:0;
	padding-left:0;
	color: #839496;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.sidebar .nav-item a:hover {
	color: #40aaa2;
}

div.sidebar .nav-item h4 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 10px;
}

/*
	AUTOCOMPLETE SEARCH
*/
.search-suggestion {
	padding: 5px;
}

.search-suggestion-options {
	font-size: 0.9em;
	padding-top: 2px;
}

.form-control{
	border-color: #022a35 !important;
    background-color: #2e2d2b !important;
    color: #839496 !important;
	box-shadow: none !important;
}

.form-control:hover{
	border-color: #2aa198 !important;
}

.form-control:focus{
	border-color: #2aa198 !important;
}

/*
	BOOTSTRAP Hacks
*/

@media (min-width: 1200px) {
	.container {
		max-width: 1250px;
	}
}

/* for small devices */
@media (max-width: 575.98px) {
	#jsmediaManagerButton,
	#jscategoryButton,
	#jsdescriptionButton {
		width: 100%;
		text-align: right;
	}
}

.border-bottom-0{
	color: #839496;
}

.bg-success {
	background-color: #8BC34A!important;
}

.text-primary {
	color: #0078D4!important;
}

.text-danger {
	color: #d55018!important;
}
a.text-danger:focus,
a.text-danger:hover {
	color: #b14213!important;
}

.text-secondary{
	color: #839496 !important;
}

a.text-secondary:focus,a.text-secondary:hover{
	color:#606d6e!important
}

.text-muted{
	color: #839496 !important;
}

.custom-select{
	border-color: #022a35;
    background-color: #2e2d2b;
    color: #839496;
	box-shadow: none !important;
}

.custom-select:hover{
	border-color: #2aa198;
}

.custom-control-label::before{
	background-color:#839496;
	border:#839496 solid 1px;
}

.custom-control-label::before, .custom-file-label, .custom-select{
	transition: none;
}

.custom-select:focus{
	border: 1px solid #2aa198;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
	background-color: #154e49;
}

.custom-control-input:checked ~ .custom-control-label::before{
	background-color: #2AA198;
	border-color: #2AA198;
	box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
    border-color: #839496;
	box-shadow: none;
}

.custom-control-input:disabled ~ .custom-control-label::before,.custom-control-input[disabled]~.custom-control-label::before{
	background-color:#839496;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before{
    background:#839496;
    border-color:#839496;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23121212' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e")
}

.custom-control-label::before ,.custom-control-label::after {
    right: 0;
}

.bg-light{
	background: #2e2d2b !important;
}

.list-group-item{
	background-color: #2e2d2b;
	color: #839496;
	border: 1px solid #012934 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
	color: #839496 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: #839496 !important;
	background-color: #2e2d2b;
}

.navbar-dark .navbar-nav .nav-link{
	color: #839496 !important;
}

.navbar-dark .navbar-brand{
	color: #839496 !important;
}

.form-text{
    color: #839496 !important;
}

.modal-content{
	background-color: #2e2d2b;
	color: #839496;
}

.modal-footer{
	background-color: #2e2d2b !important;
}

/* Buttons */
.btn {
	border-radius: 2px;
	transition: none;
}

.btn-primary {
	background-color: #b58900 !important;
	border-color: #644e09 !important;
	border-radius: 5px;
}

.btn-primary:hover {
	background-color: #7d6406 !important;
	border-color: #826200 !important;
}

.btn-primary:focus {
	background-color: #7d6406 !important;
	border-color: #826200 !important;
}

.btn-light{
	background-color: #6c757d !important;
	color: #ffffff !important;
	border: none !important;
}

.btn-light.focus, .btn-light:focus {
	box-shadow: none !important;
}

.btn.focus, .btn:focus {
	box-shadow: none !important;
}

.btn-danger {
	background-color: #cb4b16;
	border-color: #b94614;
	border-radius: 5px;
}

.btn-danger:hover {
	background-color: #b94614;
    border-color: #a53f13;
}

.btn-danger.focus,.btn-danger:focus{
	background-color: #b94614;
	border-color: #a53f13;
}

.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show>.btn-danger.dropdown-toggle{
	background-color: #b94614;
	border-color: #a53f13;
}

.primary-style{
	background-color: #2e2d2b;
	border-color: #012934 !important;
	color: #839496;
	min-height: 1px;
	padding: 1.25rem;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.5rem;
}



.btn-form {
	background-color: #F3F3F3;
	border-color: #DDD;
	color: #000;
}

.btn-form:hover {
	background-color: rgb(228, 228, 228);
	border-color: #DDD;
	color: #000;
}

code {
	padding: 3px 5px 2px;
	margin: 0 1px;
	background: #2e2d2b;
	color: #839496;
}

.list-group-sortable {
	cursor: pointer;
}

.modal-body {
	padding: 2rem;
}

.modal-footer {
	background-color: rgb(247, 247, 247);
}

.modal-dialog .btn-link {
	color: #839496;
}

/*
	LOGIN
*/

body.login {
	background: rgb(18,18,18);
	background: linear-gradient(0deg, rgba(18,18,18,1) 100%, rgba(18,18,18,1) 53%);
	height: 100%;
}


/*
	DASHBOARD
*/

#dashboard ul.list-group.list-group-striped li {
	border: none;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background: #2e2d2b;
	color: #839496;
}

#dashboard ul.list-group.list-group-striped li:nth-of-type(even) {
	background: #1f1f1f;
	color: #839496;
}

#dashboard div.quick-links-icons {
	font-size: 3em;
	width: 100%;
}

#dashboard a.quick-links {
	color: #777;
}

#dashboard a.quick-links:hover {
	text-decoration: none;
	color: #4586d4;
}

#hello-message {
	padding: 10px 0;
	color: #777;
	margin-bottom: 20px;
}

#hello-message span.oi {
	top: 3px;
}

.ct-series-a .ct-line {
	/* Set the colour of this series line */
	stroke: #4a90e2;
	/* Control the thikness of your lines */
	stroke-width: 2px;
	/* Create a dashed line with a pattern */
}

.ct-series-a .ct-point {
	/* Colour of your points */
	stroke: #4a90e2;
	/* Size of your points */
	stroke-width: 8px;
}

/*
	ALERT
*/

#alert {
	display: none;
	position: fixed;
	text-align: center;
	border-radius: 0px;
	border: 0;
	z-index: 1000;
	bottom: 0;
	left: 0;
	margin: 0;
}

.alert-success {
	background-color: #2aa198;
	border-color: #ffffff;
	color: #ffffff;
}

.alert-danger {
	background-color: #cb4b16;
	border-color: #cb4b16;
	color: #ffffff;
}



/*
	PLUGINS
*/

.plugin-form label {
	display: block;
	margin-top: 1rem !important;
}

.plugin-form input[type="text"],
.plugin-form textarea,
.plugin-form select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.plugin-form textarea {
	min-height: 120px;
}

.plugin-form span.tip {
	display: block;
	font-size: 80%;
	font-weight: 400;
	margin-top: .25rem;
	color: #6c757d !important;
}

/*
	Manage > Content
*/

td.child {
	padding-right: 30px;
}

/*
	Manage > New Content
*/

#jseditor {
	background: #fff;
	padding: 10px 5% !important;
	font-size: 16px;
	line-height: 1.5em;
	border: 1px solid #ced4da;
}

#jseditorSidebar {
	display: none;
	height: calc(100% - 45px);
	width: 50%;
	max-width: 350px;
	position: absolute;
	z-index: 50;
	top: 45px;
	left: 15px;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

@media (max-width: 575.98px) {
	#jseditorSidebar {
		width: 100%;
		max-width: 100%;
		left: 0;
	}
	#jseditorToolbarRight button {
		font-size: 0px !important;
	}
	#jseditorToolbarRight button span {
		font-size: 16px !important;
	}
	.contentTools .btn {
		font-size: 0px !important;
		margin-left: 5px;
	}
	.contentTools .btn span {
		font-size: 16px !important;
	}
}

#jseditorSidebar nav {
	background: #f3f3f3;
}

#jseditorSidebar nav a {
	color: #000;
}

#jseditorSidebar .nav-tabs .nav-link {
	border: none;
}

#jseditorSidebar .nav-link.active {
	background: none;
	border: none;
	border-bottom: 3px solid #ccc;
}

#jsshadow {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(72,72,72,0.7);
	z-index: 10;
	display: none;
}

img.profilePicture {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #ccc;
}

/* Switch button */
.switch-button {
	font-size: 0.9em;
	text-transform: uppercase;
	cursor: pointer;
}

.switch-icon-publish {
	color: #1cb11c;
}

/*  ---- Extra Edit ---- */

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
    margin-right: auto;
    margin-left: 1rem;
}

.form-check-label {
	color: #839496;
    margin-bottom: 0;
    padding-right: 20px;
}
.mr-1, .mx-1 {
    margin-left: .25rem !important;
}
.float-right {
    float: left !important;
}
.float-left {
    float: right !important;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "مرور کن";
    background-color: #e9ecef;
    border-right: inherit;
    border-left: 0;
	border-radius: .25rem 0 0 .25rem;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
	margin-right: .2rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem !important;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;

}

.btn-group > .btn:not(:first-child) {
    margin-right: -1px;
    margin-left: auto;
}
#jsmediaManagerOpenModal{
	margin-left: 1rem;
}
#jseditorToolbar{
	margin: 1rem 0 ;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;    
    /* direction: rtl; */
}

.select2-search--dropdown .select2-search__field {    
    /* direction: rtl; */
    text-align: right;
}