@font-face {
    font-family: 'LineAwesome';
    src: url('line-awesome.eot?v=1.1.');
    src: url('line-awesome.eot??v=1.1.#iefix') format('embedded-opentype'),
        url('line-awesome.woff2?v=1.1.') format('woff2'),
        url('line-awesome.woff?v=1.1.') format('woff'),
        url('line-awesome.ttf?v=1.1.') format('truetype'),
        url('line-awesome.svg?v=1.1.#fa') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    @font-face{
        font-family:'LineAwesome';
        src: url('line-awesome.svg?v=1.1.#fa') format("svg")}
}