.search-box {
    color: #404448;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0;
    padding: 2px;
    z-index: 10;
    box-shadow: none !important;
    display: inline-block; 
    font-size: 1rem;
    text-align: right;
    line-height: 2em;
    border: 1px solid #022a35;
    background-color: #2e2d2b;
    border-radius: 0.25rem;
    outline: none;
    font-family:Vazir,Tahoma,Geneva,Verdana,sans-serif;
}

.search-box:hover {
    color: #839496;
    border-color: #2aa198;
    background-color: #2e2d2b;
}

.search-box:focus {
    color: #839496;
    border-color: #2aa198;
    background-color: #2e2d2b;
    box-shadow: 0 0 0 3px rgba(52,58,64, 0.35);
}